.tweett {
  border-top: 1px solid rgb(60, 60, 60);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tweet__top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tweet__top .MuiAvatar-root {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.tweet__top .user_info span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 400px;
}

.tweet__top .user_info span p {
  font-size: 13px;
  text-transform: lowercase;
}

.tweet__top .title {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
}

.tweet__mid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit;
  height: 100%;
  margin: 0 auto;
}

.tweet__mid img {
  border-radius: 10px;
  border: 1px solid #252525;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tweet__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet__bottom .MuiSvgIcon-root {
  cursor: pointer;
  font-size: 25px;
  color: #afafaf;
}

.tweet__btn {
  margin-left: auto;
}

.tweet__bottom .fil .MuiSvgIcon-root{
  color: #1DA1F2;
}

.likes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes span{
  margin-left: 10rem;
}

.fil,.outline{
  display: flex;
  align-items: center;
  gap: 15px;
}

.fil{
  filter: drop-shadow(#1DA1F2 0 1px 5px);
}

.user_info span .user_name{
  display: none;
}


@media (max-width: 600px) {
  
  .user_info span .moment{
    font-size: 11px;
  }
  
}