.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 25px 0;
  gap: 1rem;
  padding: 0 20px;
}

.post__top {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.post__top .MuiAvatar-root {
  width: 48px;
  height: 48px;
}

.post__top input {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  font-family: Montserrat;
  font-weight: bold;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.post__bottom {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 3.7rem;
}

.post__bottom .MuiSvgIcon-root {
  color: #1da1f2;
  cursor: pointer;
}

.btn {
  margin-left: auto;
  background: #1da1f2;
  padding: 10px 15px;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

#media {
  display: none;
}

.img__preview {
  width: fit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1100;
  display: none;
  overflow: hidden;
}

.img__preview_show {
  display: block;
}

.img__preview img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(119, 115, 115, 0.473);
  display: none;
  backdrop-filter: blur(10px);
}

.layer_show {
  display: block;
  overflow: hidden;
}

.post .MuiLinearProgress-root {
  display: none;
}

.post .ps {
  display: block;
}

.button {
  position: absolute;
  right: 17px;
  bottom: 8px;
  margin: 10px 0;
  cursor: pointer;
  margin-left: auto;
  box-shadow: 0 0 1px;
  width: fit-content;
  font-weight: bold;
  font-family: Montserrat;
  border: none;
  padding: 12px 28px;
  background: royalblue;
  color: #fff;
}

.react-emoji-picker--wrapper{
  top: 4rem;
  right: 1rem;
}

